<h2>New Character</h2>

<%= form_for @character do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :house %>
  <%= f.text_field :house %>

  <%= f.submit "Create Character" %>
<% end %>
